<form action="/users" method="post">
  <div>
    <label for="first">First name:</label>
    <input type="text" name="first" id="first">
  </div>

  <div>
    <label for="last">Last name:</label>
    <input type="text" name="last" id="last">
  </div>

  <input type="submit" value="Add new User">
</form>